body {
  background-image: url("/svg/app_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none !important;
  color: #f4f4f4 !important;
}

label {
  opacity: 0.8;
}

.btn {
  border: none !important;
}

.title-container {
  padding: 0.75rem;
  margin-bottom: 1rem;
  background: #f4f4f4;
  border: 1px solid #dddddd;
  text-align: center;
}

.text-info-gradient {
  background: linear-gradient(135deg, #00b4e4 0%, #059bc2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.font-12 {
  font-size: 0.75rem !important;
}

.font-24 {
  font-size: 1.5rem !important;
}

.bg-info-gradient {
  background: linear-gradient(135deg, #00b4e4 0%, #059bc2 100%);
  color: #f4f4f4 !important;
}

.section-bg-light {
  background: #fcfcfc;
  box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 1rem;
}

.custom-text-light {
  color: #f4f4f4;
}

.custom-primary-bg {
  background: linear-gradient(160.11deg, #059bc2 0%, #087b9a 100%);
}

.custom-success-bg {
  background-color: #17bf5e !important;
  color: #f4f4f4 !important;
}

.icon-1x {
  height: 1rem;
}

input[type="checkbox"] {
  border-radius: 4px !important;
}

.input-icon {
  position: absolute;
  top: 1rem;
}

.custom-input {
  width: 100%;
  height: 42px;
  padding-left: 1rem;
  border: none;
  border-radius: 6px;
  font-size: 0.75rem;
  box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, 0.06);
  outline: none !important;
}
.custom-select {
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 6px;
  background: #fff;
  color: #000;
  font-size: 0.75rem;
  box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, 0.06);
  outline: none !important;
}
.custom-btn {
  height: 42px;
  padding: 0 1rem;
  border-radius: 6px;
  box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, 0.06);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

table {
  border-radius: 6px;
  overflow: hidden;
  thead {
    background: #f4f4f4;
    font-weight: 400 !important;
  }
  th {
    color: #808080;
    font-size: 0.75rem;
    text-align: center;
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
    text-align: center;
    font-size: 0.75rem;
  }
}

.calendar-container {
  * {
    border-radius: 6px;
  }
  .react-calendar {
    padding: 0.5rem;

    &__navigation__label {
      line-height: 25px;
      text-transform: capitalize;
      color: #006edc;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
}
