.sidebar {
    max-width: fit-content;
    height: calc(100% - 115px);
    position: absolute;
    z-index: 10;
    .navItem {
        border-bottom: 1px solid #087b9a;
        font-size: 0.75rem;
    }
}
